.text {
  font-size: 14px;
  color: var(--text-primary-color);
  padding: 5px 1px 1px 1rem;
  border: none;
  padding-bottom: 3px;
}
.container {
  width: 50%;
}

.select {
  background-color: var(--bkg-secondary-color);
  border-radius: 24px;
  margin-left: 8px;
  border: none;
  color: var(--text-secondary-color);
  font-size: 19px;
  padding: 10px;
  border: none;
  font-family: var(--rubik);
  width: 50%;
  &:focus {
    color: var(--text-primary-color);
    outline: 1px solid var(--text-primary-color);
  }
}
.option {
  font-family: var(--rubik);
  background-color: var(--bkg-secondary-color);
}

.NotSubmitted {
  background-color: var(--status-grey);
  font-family: var(--rubik);
}
.Submitted {
  background-color: var(--status-yellow);
}
.NoCallback {
  background-color: var(--status-red);
}
.InterviewScheduled {
  background-color: var(--status-orange);
}
.Interviewing {
  background-color: var(--status-cyan);
}
.OfferReceived {
  background-color: var(--status-green);
}
