.hero {
  background-color: var(--bkg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--text-primary-color);
  font-size: 5rem;
  margin: 0;
}

.subtitle {
  color: var(--text-primary-color);
}

.divider {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
